body {
    width: 80%;
    max-width: 1000px;
    min-width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: #272727;
    color: #875F9A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.image{
    width:100px;
    height:70px;
    position: absolute;
    left: 80px;
    top: 10px;
}
.button {
    background-color: #BF55EC;
    padding: 7px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 14pt;
}

.product {
    border-top: #BF55EC solid 2px;
    margin-top: 20px;
    text-align: left;
}

.product h2 {
    color: #BF55EC;
}

.distribute {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}