.navbar {
	height: 75px;
	display: flex;
	justify-content: space-between;
	padding: 0 25px;
	border-bottom: #875f9a solid 1px;
}

.logo {
	display: flex;
	align-items: center;
}

.links {
	width: 60%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navitem {
	padding: 25px 15px;
	color: #875f9a;
	text-decoration: none;
}

.navitem:hover {
	color: #272727 !important;
	background-color: #bf55ec !important;
}

.links .active {
	color: #bf55ec;
	background-color: #272727;
}

body {
	width: 80%;
	max-width: 1000px;
	min-width: 600px;
	margin: 0 auto;
	text-align: center;
	background-color: #272727;
	color: #875f9a;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
		sans-serif;
}

.image {
	width: 100px;
	height: 70px;
	position: absolute;
	left: 80px;
	top: 10px;
}


/** Button styling for Bootstrap POC **/
.btn-primary {
	background-color: #bf55ec !important;
	border-color: #bf55ec !important;
	padding: 7px;
	border-radius: 3px;
	text-decoration: none;
	color: #fff;
	font-size: 14pt;
}
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus {
	background-color: #bf55ec86 !important;
	border-color: #bf55ec86 !important;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.product {
	border-top: #bf55ec solid 2px;
	margin-top: 20px;
	text-align: left;
}

.product h2 {
	color: #bf55ec;
}

.distribute {
	display: flex;
	justify-content: space-between;
	margin: 20px;
}

body {
	text-align: center;
	background-color: #272727;
	color: #875f9a;
	width: 80%;
	max-width: 1000px;
	min-width: 600px;
	margin: 0 auto;
	display: block;
}

h1.About {
	text-align: center;
	display: block;
	font-size: 2em;
	margin-block-start: 0.67em;
	margin-block-end: 0.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	color: #bf55ec;
}

h4.About {
	display: block;
	font-size: 1.5em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	color: #bf55ec;
}

.YBoxAims {
	border-top: #bf55ec solid 2px;
	margin-top: 20px;
	text-align: left;
}

.YBoxMethodGoal {
	border-top: #bf55ec solid 2px;
	margin-top: 20px;
	text-align: left;
}

.YBoxPurchasing {
	border-top: #bf55ec solid 2px;
	margin-top: 20px;
	text-align: left;
}

.YBoxProducts {
	border-top: #bf55ec solid 2px;
	margin-top: 20px;
	text-align: left;
}

/* This formats the grid that the help options reside in*/
.grid-container {
	display: grid;
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 100px 100px;
	grid-gap: 15px;
	background-color: #272727;
	padding: 10px;
}

.grid-container > div {
	background-color: #bf55ec;
	text-align: center;
	padding: 20px 0;
	font-size: 15px;
	color: #fff;
	box-shadow: 7px 7px 10px #bf55ec33;
}

/* The following CSS elements define the position of each help option in the grid */
.account-item {
	grid-area: 1 / 1 / span 1 / span 1;
}

.subscriptions-item {
	grid-area: 1 / 2 / span 1 / span 1;
}

.hardware-item {
	grid-area: 1 / 3 / span 1 / span 1;
}

.family-item {
	grid-area: 2 / 1 / span 1 / span 1;
}

.games-item {
	grid-area: 2 / 2 / span 1 / span 1;
}

.friends-item {
	grid-area: 2 / 3 / span 1 / span 1;
}

.question {
	border-top: #bf55ec solid 2px;
	text-align: left;
	padding-bottom: 25px;
}

.question > h3 {
	color: #bf55ec;
}

.question > P {
	color: #875f9a;
}

.emphasis {
	color: #bf55ec;
}

.footer {
	background-color: #fff;
	height: 75px;
	border-top: #875f9a solid 1px;
	width: 80%;
	max-width: 2000px;
	min-width: 1000px;
	text-align: center;
}